old-nodejs/node_modules
.idea
wreck-them/vendor
wreck-them/var/cache
wreck-them/var/logs
wreck-them/var/sessions
wreck-them/var/bootstrap.php.cache
wreck-them/web/bundles/framework
node/node_modules
node2/node_modules
node/npm-debug.log

brisca/vendor
brisca/var/cache
brisca/var/logs
brisca/var/sessions
brisca/var/bootstrap.php.cache
brisca/web/bundles/framework