<div id="game-container">
    <div id="oponnent-cards" class="player-cards">
        {#<div id="oponnent-card-1" class="card">Carta 1</div>#}
    </div>

    <div id="suit">
        <div class="card">Carta 1</div>
    </div>

    <div id="my-cards" class="player-cards">
        {#<div id="my-card-1" class="card">Carta 1</div>#}
    </div>
</div>