<style>
    #game-container div{
        border: 1px solid black;
        padding: 3px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .card {
        background-color: rgba(255,0,0,0.2);
        font-weight: normal;
    }
</style>

<h3>Juego</h3>
<div id="game-container">
    <div id="oponnent-cards" class="player-cards">
        Cartas del oponente:
    </div>

    <div id="oponnent-play">
        Jugada del oponente:
    </div>

    <div id="suit">
        Baraja: <div class="card">Baraja</div>
        Muestra: <div id="sample" class="card"></div>
    </div>

    <div id="my-play">
        Mi jugada:
    </div>

    <div id="my-cards" class="player-cards">
        Mis cartas:
    </div>
</div>