<h3>Juego</h3>
<div id="game-container">
    <div id="oponnent-cards" class="player-cards">
        Cartas del oponente:
    </div>

    <div id="suit">
        Baraja: <div class="card">Baraja</div>
        Muestra: <div id="sample" class="card"></div>
    </div>

    {#Las cartas con listener de click serán las de dentro de este div. El índice que se envía será de 0 a 3, pero debe coincidir con el índice que se encuentra en el servidor, por lo que al enviarse la carta desde el server, se envía el índice que tiene esta en la mano del usuario #}
    <div id="my-cards" class="player-cards">
        Mis cartas:
    </div>
</div>