{% extends 'WreckThemBundle:Page:layout.html.twig' %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/game/c-game.js') }}"></script>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Usuario</th>
        <th>Casilla</th>
        <th>Dinero</th>
    </tr>
</table>

<table>
    <tr>
        <th>Propiedad</th>
        <th>Dueño</th>
    </tr>
</table>
{% endblock %}