#game-container div{
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 5px;
  font-weight: bold;
}

#game-container{
  width: 300px;
  background: greenyellow;
}

.player-cards, .play {
  height: 170px;
}

.card {
  background-repeat: no-repeat;
  background-color: white;
  width: 100px;
  height: 150px;
  background-size: 100% 100%;
  padding: 12px;
  border-radius: 5px;
  background-origin: content-box;
  display: inline-block;
  vertical-align: top;
}

#game-container {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

#game-info {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

#scores {
  height: 500px;
  overflow-y: scroll;
}

#chrono {
  font-size: 1.5em;
  font-weight: bold;
}

.semi-transparent {
  opacity: 0.6;
}