body, html {
  min-width: 320px;
}

.container-in-slider {
  position: absolute;
  z-index: 100;
  width: 86%;
  margin: 2em 7%;
}

#index-chat-container {
  height: 330px;
}

#chat-box {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px 5% 70px 5%;

  #messages {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;;
  }

  #chat {
    position: absolute;
    bottom: 15px;
    width: 90%;

    input#m {
      width: 75%;
    }

    button {

    }
  }
}



.user-img {
  width: 50px;
  height: 40px;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 5px;
}

.errors-container {
  ul {
    margin: 0;
  }
}

//@override
footer.page-footer {
  margin-top: 0;
}

// HELPERS
.margin-right-l {
  margin-right: 2em !important;
}

.margin-right-m {
  margin-right: 1em !important;
}

.margin-right-s {
  margin-right: 0.5em !important;
}

.margin-bottom-m {
  margin-bottom: 1em !important;
}

.margin-top-l {
  margin-top: 2em !important;
}

.margin-bottom-l {
  margin-bottom: 2em !important;
}

.margin-bottom-none {
  margin-bottom: 0 !important;
}

.paddings-m {
  padding: 10px;
}

.btn-small {
  padding: 0 1rem !important;
  font-size: 0.9em !important;
}

// entre móvil y tablet
@media (min-width: 600px) {
  .container-in-slider {
    position: absolute;
    z-index: 100;
    width: 60%;
    margin: 2em 20%;
  }
}

// mayor que tablet
@media (min-width: 992px) {
  .container-in-slider {
    position: absolute;
    z-index: 100;
    width: 44%;
    margin: 2em 28%;
  }
}

// xxs
@media (max-width: 400px) {
  nav .brand-logo {
    font-size: 1.7rem !important;
  }
}