{# TODO general y de partida#}
{#chat normal#}
<div class="chat-box">
    <div class="">
        <ul id="tabs" class="tabs">
            <li id="tab-chat-general" class="tab"><a class="active" href="#c-general">General</a></li>
            <li id="tab-chat-game" class="tab"><a href="#c-game">Partida</a></li>
        </ul>
    </div>
    <div id="c-general" class="msgs-container ">
        <ul class="messages msgs"></ul>
        <form id="chat" class="chat">
            <div class="margin-bottom-none center">
                <input id="m" type="text" autocomplete="off" placeholder="Mensaje" class="margin-bottom-none margin-right-m">
                <button class="btn-floating" type="submit">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </form>
    </div>

    <div id="c-game" class="msgs-container ">
        <ul class="messages msgs-game"></ul>
        <form id="chat-game" class="chat">
            <div class="margin-bottom-none center">
                <input id="m-game" type="text" autocomplete="off" placeholder="Mensaje" class="margin-bottom-none margin-right-m">
                <button class="btn-floating" type="submit">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </form>
    </div>
</div>