{# TODO general y de partida#}
<div id="chat-box">
    <ul id="messages"></ul>
    <form id="chat">
        <div class="margin-bottom-none center">
            <input id="m" type="text" autocomplete="off" placeholder="Mensaje" class="margin-bottom-none margin-right-m">
            <button class="btn-floating">
                <i class="material-icons">send</i>
            </button>
        </div>
    </form>
</div>