{% extends 'WreckThemBundle::base.html.twig' %}

{% block body %}
    {% block header %}
        <h1>Wreck Them</h1>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    {% endblock %}
{% endblock %}