{% extends 'WreckThemBundle:Page:layout.html.twig' %}

{% block content %}
    <p>Inicio</p>

    {% if user %}
        <div>
            <p>botones:</p>
            <button id="action1">Acción</button>
        </div>
    {% endif %}
{% endblock %}