extends layout

block content
    div(class="section no-pad-bot" id="index-banner")
        div(class="container")
            h1(class="header center red-text text-darken-3") Lorem ipsum
            div(class="row center")
                h5(class="header col s12 light").
                  Lorem ipsum
